{
  "extends": ["airbnb", "airbnb/hooks", "prettier/prettier", "prettier/react"],
  "plugins": ["emotion"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true,
    "commonjs": true
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "prettier/prettier": "error"
  }
}
